.indexPage
    padding 30px
    font-size 28px
    color #666
    line-height 1.6em
    .tabMin
        margin-top 30px
    .tab-content
        min-height 400px
        padding 30px
        margin-top 30px
        border 1px solid #efefef